.g-page *{margin: 0 2px;padding: 0;height: 20px;line-height:20px;font:12px '微软雅黑';box-sizing: border-box;outline: none; user-select: none;-webkit-user-select: none;-ms-user-select: none;-moz-user-select: none;}
.g-page > *{display: inline-block;}
.g-page{text-align: center}
.u-turn,.m-page li ,.m-skip input{cursor:pointer;}
.u-turn{position:relative;width:40px;border:1px solid #ddd;border-radius: 3px;}
.u-turn:hover{background-color: #eee;}
.u-turn:active{background-color: #f8f8f8;}
.u-turn:before{
	content:'';
	position: absolute;
	height: 7px;
	width: 7px;
	border:2px solid #8D8C8C;
	transform: rotate(45deg);
	top: 50%;
    left: 50%;
    margin-top: -5px;
}
.u-turn-prev:before{margin-left:-2px;border-top:0;border-right:0;}
.u-turn-next:before{margin-left:-6px;border-bottom:0;border-left:0;}
.m-page{list-style:none; }
.m-page li{float:left;min-width:20px;padding:0 2px; height: 100%;border-radius: 4px;}
.m-page-cur{background-color: #B797E9;color:#fff;}
.m-skip{vertical-align: top;}
.m-skip input{display: table-cell;}
.m-skip-txt{width: 30px;cursor: auto !important;}
.m-skip-btn{
	width: 40px;
	background-color:  #B797E9;
	color: #fff;
	border:none;
	border-radius: 4px;
}
.m-page-cur:hover,.m-skip-btn:hover{background-color:#A47CE1;}
.m-page-cur:active,.m-skip-btn:active{background-color:#C2A9E9;}

